<header class="brand-shell text-white border-bottom border-0 shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand fw-semibold" href="{% url 'home' %}">Future Football Stars</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'academy-list' %}">Academies</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'player-list' %}">Players</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'report-list' %}">ScoutReports</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
